@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
  --primary: #000;
  --accent: #ffcc00;
  --neutral: #fff;
  --font-main: 'Inconsolata', monospace;
}

html, body {
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  background: var(--primary);
  color: var(--neutral);
  font-family: var(--font-main);
  min-height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  touch-action: none;
  -webkit-overflow-scrolling: touch;
}
